@use 'styles/tokens';
@use 'styles/reset';
@use 'styles/utilities';

// Snackbar com tom de marca
.mat-mdc-snack-bar-container.snackbar-success {
  --mdc-snackbar-container-color: var(--color-success);
  --mat-mdc-snack-bar-button-color: #ffffff;
  --mdc-snackbar-supporting-text-color: #ffffff;
}

.mat-mdc-snack-bar-container.snackbar-error {
  --mdc-snackbar-container-color: var(--color-danger);
  --mat-mdc-snack-bar-button-color: #ffffff;
  --mdc-snackbar-supporting-text-color: #ffffff;
}
